

<div class="container">
  <div class="row-title">
    <h1>Sales Rep turnover sucks.</h1>
      <h2>Get 12 months cash advance on each hire <br> and stop wasting money</h2>
  </div>
  <div class="row-part1">
    <div class="col-12 col-lg-7">
      <h1>Don’t lose money <br> during ramp up </h1>
        <p>Ramp up time costs your company <br> a lot of money. We made it free for you.</p>
    </div>
    <div class="col-12 col-lg-5">
    </div>
  </div>
  <div class="row-part2">
    <div class="col-12 col-lg-5">
    </div>
    <div class="col-12 col-lg-7">
      <h1>Finally offer <br> competitive <br> salary</h1>
        <p>Top performers are expensive. <br> We enable you to build <br> the best sales team and to keep it.</p>
    </div>
  </div>
  <div class="row-part3">
    <h1>Avoid the cost of mistakes</h1>
      <p>Hiring mistakes can cost you up to $150K per sales hire.</p>
  </div>
  <div class="row-part1">
    <div class="col-12 col-lg-7">
      <h1>Repay <br> as you earn</h1>
        <p>Repay your balance with <br> a small share from your <br> new sales.</p>
    </div>
    <div class="col-12 col-lg-5">
    </div>
  </div>
</div>



